.div-body {
    position: relative;

    max-width: 100%;
    min-height: 100vh;
    height: 100%;

    display: flex;
    flex-direction: column;

    -webkit-box-orient: vertical;

    font-family: "Merriweather","serif";
    line-height: 1.5;
    font-size: 1.6rem;
    color: #73716e;
}

@media (max-width: 1020px){
    .div-body {
        line-height: 1.425;
    }
}

@media (max-width: 768px){
    .div-body {
        line-height: 1.35;
        font-size: 1.4rem;
    }
}

/* 
    Not important elements will take as
    much space as they need and all other
    space will go to the main element (wrapper)
*/
.div-body>:not(.wrapper) {
    flex: 0 0 auto;
}