.practicePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(90deg, rgba(204,204,204,1) 0%, rgba(255,255,255,1) 50%, rgba(204,204,204,1) 100%);

}

.aLotOfBooks{
    width: 100%;
    height: 200px;
    background-image: url("https://assets.jwwb.nl/assets/templates/clean/books/img/heroimage2.jpg?enable-io=true&enable=upscale&crop=1920%2C576%2Cx0%2Cy0%2Csafe");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.practiceChat{
    display: block;
    min-width: 600px;
    width: 40%;
    min-height: calc(100vh - 432px);
    max-height: calc(100vh - 432px);
    background-color: white;
    margin: 30px;
    border: 5px solid #ccc;
    border-radius: 40px;
}

/* настройки чата*/  
.chatBox {
    min-height: calc(100vh - 598px);
    max-height: calc(100vh - 598px);
    overflow-y: auto;
}

.TextContainer {
    position: relative;
    max-width: 90%;
    line-height: 1.5;
    font-size: 2rem;
    color: #180e0e;
    margin-left: auto; 
    margin-right: auto;
}

.inputBox {
    background-color: #ccc;
    border-bottom: 2px solid #ccc;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
.barBetweenWhite {
    width: 100%;
    min-width: 10px;
    border: 4px solid #ccc;
}

.barBetweenBlack {
    width: 100%;
    min-width: 10px;
    border: 4px solid #ccc;
}

.my-input {
    margin-left: 1%;
    width: 98%;
    min-width: 10px;
    margin-bottom: 10px;
    padding: 10px;
    padding-left: 2%;
    font-size: 24px;
    border: 4px solid #ccc;
    border-radius: 30px;
}
  
.my-input:focus {
    outline: none;
    border-color: #4CAF50;
    box-shadow: 0 0 5px #4CAF50;
}
  
.my-input::placeholder {
    color: #999;
}
  
.my-input:hover {
    border-color: #4CAF50;
}

/* Transform this sentence from ... to*/  
.text1 {
    display: flex;
    justify-content: center;
    text-align: center; 
    margin-top: 20px;
    font-size: 35px;
}

/* Tense (Present Simple - Future Perfect Continuous) */
.tense {
    text-align: center; 
    margin-top: auto;
    margin-bottom: auto;
    font-size: 25px;
    color: #000000;
}

.selectStyle {
    font-size: 25px;
    text-align: center;
    appearance: none;
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid #002fff;
    border-radius: 200px;
    background-color: #fffcf5;
}

.selectStyle:hover {
    color: #ff0000;
}

.selectTextMain {
    font-size: 30px;
    color: #ff0000;
}

.selectText {
    font-size: 25px;
    color: #ff0000;
}

.selectStyle:focus {
    color: #ff0000;
    outline: none;
}

.selectStyle::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -5px;
    border-left: 5px solid transparent; /* Левая стрелка */
    border-right: 5px solid transparent; /* Правая стрелка */
    border-top: 5px solid #000; /* Верхняя граница */
    pointer-events: none; /* Позволяет щелкать на элементах за псевдоэлементом */
}

@media (max-width: 1500px) {
    .text1 {
        font-size: 25px;
    }
    .tense {
        font-size: 20px;
    }
    .selectStyle {
        font-size: 20px;
    }
    .selectTextMain {
        font-size: 25px;
    }
    .selectText {
        font-size: 20px;
    }
}

@media (max-width: 900px) {
    .text1 {
        font-size: 18px;
    }
    .tense {
        font-size: 13px;
    }
    .selectStyle {
        font-size: 13px;
    }
    .selectTextMain {
        font-size: 18px;
    }
    .selectText {
        font-size: 13px;
    }
}

/* chat settings (start/answer/question) */
.task {
    color: #0084ff;
    text-align: center;
    font-size: 3.2vh;
}

.answer {
    text-align: right;
    color:  hsl(145, 100%, 50%);
    margin-bottom: 30px;
}

.question {
    max-width: 600px;
    text-align: left;
    color:  hsl(61, 100%, 21%);
    font-size: 1.8rem;
    margin-bottom: 30px;
}